<!-- Toolbar -->
<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ui-sref="main">Back</md-button>
    <h2>
      <span>New Employee</span>
    </h2>
  </div>
</md-toolbar>

<!-- Onboarding/Offboarding Form -->
<div layout="column" class="md-inline-form" style="margin-top: 100px" flex-offset="20" flex="60">
  <form>

    <!-- Section A - to be completed by HR -->
    <md-card layout-padding>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Section A - to be completed by HR</span>
          <span class="md-subhead">Employee Information</span>
        </md-card-title-text>
      </md-card-title>

      <!-- Employee Information -->
      <md-content layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Name</label>
          <input ng-model="newEmployee.form.data.A.name">
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Email</label>
          <input ng-model="newEmployee.form.data.A.email" type="email">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <div flex="noshrink"></div>
        <md-card-content>
          {{newEmployee.fix(newEmployee.form.A)}}
        </md-card-content>
        <md-button class="md-raised md-primary" ng-click="newEmployee.save('A')">Save</md-button>
      </md-content>
    </md-card>

    <!-- Section B - to be completed by HR -->
    <md-card layout-padding>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Section B - to be completed by HR</span>
          <span class="md-subhead">Employment Information</span>
        </md-card-title-text>
      </md-card-title>

      <!-- Employment Information -->
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Department Name</label>
          <input ng-model="newEmployee.form.data.B.departmentName">
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <div layout="column" flex="nogrow">
          <label ng-if="newEmployee.form.data.B.lastDayWorked" class="md-caption" style="margin-left: 64px; color: rgba(0,0,0,0.54);">Last Day Worked</label>
          <md-datepicker ng-if="!newEmployee.form.data.B.lastDayWorked" ng-model="newEmployee.form.data.B.lastDayWorked" md-placeholder="Last Day Worked"></md-datepicker>
          <md-datepicker ng-if="newEmployee.form.data.B.lastDayWorked" style="margin-top: 0px" ng-model="newEmployee.form.data.B.lastDayWorked" md-placeholder="Last Day Worked"></md-datepicker>
        </div>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Manager</label>
          <input ng-model="newEmployee.form.data.B.manager">
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <div layout="column" flex="nogrow">
          <label ng-if="newEmployee.form.data.B.lastDayPaid" class="md-caption" style="margin-left: 64px; color: rgba(0,0,0,0.54);">Last Day Paid</label>
          <md-datepicker ng-if="!newEmployee.form.data.B.lastDayPaid" ng-model="newEmployee.form.data.B.lastDayPaid" md-placeholder="Last Day Paid"></md-datepicker>
          <md-datepicker ng-if="newEmployee.form.data.B.lastDayPaid" style="margin-top: 0px" ng-model="newEmployee.form.data.B.lastDayPaid" md-placeholder="Last Day Paid"></md-datepicker>
        </div>
        <div class="hint">Specify last date paid if different from last day worked and if access will be in place beyond last day worked</div>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <div flex="noshrink"></div>
        <md-card-content>
          {{newEmployee.fix(newEmployee.form.B)}}
        </md-card-content>
        <md-button class="md-raised md-primary" ng-click="newEmployee.save('B')">Save</md-button>
      </md-content>
    </md-card>

    <!-- Section C - to be completed by Office Admin -->
    <md-card layout-padding>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Section C - to be completed by Office Admin</span>
          <span class="md-subhead">Equipment, Systems & Access</span>
        </md-card-title-text>
      </md-card-title>

      <!-- Equipment, Systems & Access -->
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Access Badge</label>
          <md-select ng-model="newEmployee.form.data.C.badge.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.C.badge.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Desk/Office Keys</label>
          <md-select ng-model="newEmployee.form.data.C.keys.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.C.keys.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>OpenVoice Account</label>
          <md-select ng-model="newEmployee.form.data.C.openvoice.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.C.openvoice.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>GoToMeeting Account</label>
          <md-select ng-model="newEmployee.form.data.C.gotomeeting.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.C.gotomeeting.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Egencia Travel Account</label>
          <md-select ng-model="newEmployee.form.data.C.egencia.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.C.egencia.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Addition to Vacation Tracking</label>
          <md-select ng-model="newEmployee.form.data.C.tracking.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.C.tracking.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Parking Card</label>
          <md-select ng-model="newEmployee.form.data.C.parking.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.C.parking.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Gym Membership</label>
          <md-select ng-model="newEmployee.form.data.C.gym.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.C.gym.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <div flex="noshrink"></div>
        <md-card-content>
          {{newEmployee.fix(newEmployee.form.C)}}
        </md-card-content>
        <md-button class="md-raised md-primary" ng-click="newEmployee.save('C')">Save</md-button>
      </md-content>
    </md-card>

    <!-- Section D - to be completed by Employee Manager (with assistance as needed from IT, DevOps, etc.) -->
    <md-card layout-padding>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Section D - to be completed by Employee Manager (with assistance as needed from IT, DevOps, etc.)</span>
          <span class="md-subhead">Department Specific Access - Finance</span>
        </md-card-title-text>
      </md-card-title>

      <!-- Department Specific Access - Finance -->
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>NetSuite</label>
          <md-select ng-model="newEmployee.form.data.D.three.one.netsuite.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.one.netsuite.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>QuickBooks</label>
          <md-select ng-model="newEmployee.form.data.D.three.one.quickbooks.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.one.quickbooks.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>ADP</label>
          <md-select ng-model="newEmployee.form.data.D.three.one.adp.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.one.adp.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <div flex="noshrink"></div>
        <md-card-content>
          {{newEmployee.fix(newEmployee.form.D1)}}
        </md-card-content>
        <md-button class="md-raised md-primary" ng-click="newEmployee.save('D1')">Save</md-button>
      </md-content>

      <md-card-title>
        <md-card-title-text>
          <span class="md-subhead">Department Specific Access - Product Development, QA, Product Management, IT, Customer Support</span>
        </md-card-title-text>
      </md-card-title>

      <!-- Department Specific Access - Product Development, QA, Product Management, IT, Customer Support -->
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Vena Cloud (Production Tenants)</label>
          <md-select ng-model="newEmployee.form.data.D.three.two.venaproduction.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.two.venaproduction.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Vena Cloud (Staging Tenants)</label>
          <md-select ng-model="newEmployee.form.data.D.three.two.venastaging.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.two.venastaging.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Vena Cloud (Dev Tenants)</label>
          <md-select ng-model="newEmployee.form.data.D.three.two.venadev.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.two.venadev.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Pivotal Tracker</label>
          <md-select ng-model="newEmployee.form.data.D.three.two.pivotal.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.two.pivotal.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>TestRail</label>
          <md-select ng-model="newEmployee.form.data.D.three.two.testrail.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.two.testrail.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>GitHub (Account & Key)</label>
          <md-select ng-model="newEmployee.form.data.D.three.two.git.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.two.git.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Active Directory / LDAP (VPN, Jenkins, Splunk)</label>
          <md-select ng-model="newEmployee.form.data.D.three.two.active.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.two.active.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>SSH Key (Add / Remove)</label>
          <md-select ng-model="newEmployee.form.data.D.three.two.ssh.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.two.ssh.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Loggly</label>
          <md-select ng-model="newEmployee.form.data.D.three.two.loggly.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.two.loggly.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>AWS (Accounts, API keys)</label>
          <md-select ng-model="newEmployee.form.data.D.three.two.aws.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.two.aws.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Pager Duty</label>
          <md-select ng-model="newEmployee.form.data.D.three.two.pager.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.two.pager.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <div flex="noshrink"></div>
        <md-card-content>
          {{newEmployee.fix(newEmployee.form.D2)}}
        </md-card-content>
        <md-button class="md-raised md-primary" ng-click="newEmployee.save('D2')">Save</md-button>
      </md-content>

      <md-card-title>
        <md-card-title-text>
          <span class="md-subhead">General IT Access</span>
        </md-card-title-text>
      </md-card-title>

      <!-- General IT Access -->
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Desktop/Laptop</label>
          <md-select ng-model="newEmployee.form.data.D.three.computer.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.computer.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Model Number</label>
          <input ng-model="newEmployee.form.data.D.three.computer.model">
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Password</label>
          <input ng-model="newEmployee.form.data.D.three.computer.password" type="text">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Access to Dropbox</label>
          <md-select ng-model="newEmployee.form.data.D.three.dropbox.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.dropbox.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Access to Google Drive</label>
          <md-select ng-model="newEmployee.form.data.D.three.drive.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.drive.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Addition to Distribution Lists</label>
          <md-select ng-model="newEmployee.form.data.D.three.dist.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.dist.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Email Account</label>
          <md-select ng-model="newEmployee.form.data.D.three.email.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.email.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Salesforce Account</label>
          <md-select ng-model="newEmployee.form.data.D.three.salesforce.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.salesforce.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Phone Extension</label>
          <md-select ng-model="newEmployee.form.data.D.three.extension.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.extension.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Cell Phone</label>
          <md-select ng-model="newEmployee.form.data.D.three.phone.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.phone.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Cell Phone Number</label>
          <md-select ng-model="newEmployee.form.data.D.three.number.result">
            <md-option ng-repeat="s in newEmployee.selections" value="{{s}}">{{s}}</md-option>
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs hide-sm><!-- Spacer --></div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Comments</label>
          <input ng-model="newEmployee.form.data.D.three.number.comments">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Additional Notes</label>
          <input ng-model="newEmployee.form.data.D.three.itnotes">
        </md-input-container>
      </md-content>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <div flex="noshrink"></div>
        <md-card-content>
          {{newEmployee.fix(newEmployee.form.D3)}}
        </md-card-content>
        <md-button class="md-raised md-primary" ng-click="newEmployee.save('D3')">Save</md-button>
      </md-content>
    </md-card>

    <!-- Submit and info -->
    <md-card layout-padding>
      <md-content layout-gt-sm="row" style="overflow: hidden">
        <md-card-content ng-show="newEmployee.form.authors">
          Authors: {{newEmployee.listify(newEmployee.form.authors)}}
        </md-card-content>
        <div flex="noshrink"></div>
        <md-button class="md-raised md-warn" ng-click="newEmployee.delete()">Delete</md-button>
        <md-button ng-show="newEmployee.form.state == 'edit'" class="md-raised md-primary" ng-click="newEmployee.submit()">Complete Form</md-button>
      </md-content>
    </md-card>
  </form>
</div>
